/* General (all pages) CSS */
body {
    background-color: #adcbe3;
    color: #03396c;
}
.nav {
    display: flex;
    justify-content: flex-start;
    background-color: #005b96;
    border-radius: 1em;
}
nav a {
    padding: 5px;
    margin: 5px;
    color: #e6f4ff;
}
a:hover {color: #ffffff;}
h2 {color: #012648;}
.skip {
    padding: 8px;
    text-decoration: none;
    border: 2px solid black;
    position: absolute; /* tells that it takes the flow out of the document*/
    top: 10px;
    left: -999px; /* push off left side of browser */
}
.skip:focus {
    left: 10px;
}
#hamicon {display: none;}
#hamicon {width: 40px;}
#close {display: none;}
@media only screen and (max-width: 800px) {
    #hamicon {
        display: block;
        width: 5%;
    }
    #close {
        display: block;
        width: 5%;
    }
    a {border: 1px solid black;
        display: block;} /*change links to block, that makes them take up full width*/
    .nav {display: none;}
    .row {display: flex; justify-content: space-between;}
}
@media only screen and (min-width: 801px) {
    .nav {display: block;}
}





/* Page 1 (home) */
.genes {
    width: 100%;
}
.jellyfish1 {
    width: 35%;
    float: right;
    margin: 10px;
}
@media only screen and (max-width: 800px) {
    .jellyfish1 {
        width:50%;
    }
    .p1top {
        flex-wrap: flex;
    }
}
@media only screen and (min-width: 801px) {
    
}





/* Page 2 (why make animals glow)*/
.glowingfish {
    width: 100%;
}
.p2image1 {
    flex: 1;
    margin: 35px auto;
    
}
.p2text {
    flex: 3;
    padding: 20px;
}
.list {
    flex: 1;
    padding: 20px;
}
.animalvideo {
    flex: 2;
    padding: 20px;
}
@media only screen and (max-width: 800px) {
    .p2top {flex-wrap: wrap;}
    .p2bottom {flex-wrap: wrap;}
    .p2video {
        max-width: 100%;
        max-height: 100%;
    }
    .jellyfish5 {
        width: 50%;
    }
}
@media only screen and (min-width: 801px) {
    .p2top {display: flex;} 
    .p2bottom {display: flex;}

}






/* Page 3 (how to glow)*/

@media only screen and (max-width: 800px) {
    

}
@media only screen and (min-width: 801px) {
    

}





/* Page 3 (trials and errors)*/

@media only screen and (max-width: 800px) {
    

}
@media only screen and (min-width: 801px) {
    

}
